* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

body {
  background-size:cover;
  background-position: center center;
}

div.wrapper {
  width: 100%;
}

.player {
  width:100%;
  position:absolute;
  bottom:0;
}

div.explanation {
  padding:1em;
  background-color:rgba(255,255,255,.7);
}

h3 {
  margin-top:0;
}

div.explanation p {
  text-align: left;
}

audio {
  width: 100%;
}

.popup {
  position:absolute;
  bottom:30px;
  left:15%;
  width:70%;
  border-radius:10px;
  margin-bottom:1em;
}

.popup>*{
  position:relative;
  margin:0 auto;
}

#map {
  height:400px;
}
