div.explanation {
  padding:1em;
  background-color:rgba(255,255,255,.7);
}

h3 {
  margin-top:0;
}

div.explanation p {
  text-align: left;
}

.popup {
  position:absolute;
  bottom:30px;
  left:15%;
  width:70%;
  border-radius:10px;
  margin-bottom:1em;
}

.popup>*{
  position:relative;
  margin:0 auto;
}

#map {
  height:400px;
}
