div.wrapper {
  font-family: 'Georgia', 'Times New Roman', 'serif';
  font-style: xx-large;
  width: 100%;
  display: block;
}

div.explanation {
  width: 50%;
  display: block;
  margin: auto;
}

div.explanation p {
  text-align: left;
}

div.audio {
  text-align: center;
}

audio {
  width: 100%;
}
